
{% extends 'base.html.twig' %}

{% block body %}

     <div class="coucou"></div>

    <table class="table-fill">

        <tbody>
        {% for plat in plats %}
            <tr>
                <td><a href="{{ path('plat_show', { 'id': plat.id }) }}">{{ plat.id }}</a></td>
    <div class="background"></div>
                <td>{{ plat.titre }}</td>
                <td>{{ plat.prix }}</td>
                <td>{{ plat.nbpersonne }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plat_show', { 'id': plat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('plat_edit', { 'id': plat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plat_new') }}">Create a new plat</a>
        </li>
    </ul>
{% endblock %}
